*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(../img/fundo.png) repeat-x;
}

ul{
    list-style: none;
}

ul a{
    list-style: none;
    text-decoration: none;
}

body.home #nav-menu a#home,
body.brasil #nav-menu a#brasil,
body.fotos #nav-menu a#fotos
{
    cursor: text;
    color: #b10333;
    background: #fff;
    border-radius: 50px;
}

h2.titulo{
    background-color: #294c71;
    color: #fff;
    font-size: 1rem;
    padding: 0.3rem;
}

/* FORMATAÇÃO CABEÇALHO */

#logo{
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}

#nav-menu{
    height: 150px;
    width: 750px;
    margin: 0 auto;
    background: url(../img/detalhe-topo.png) no-repeat right center;
    padding-top: 20px;
}

#nav-menu ul{
    float: left;
    background: rgb(177, 3, 51);
    border-radius: 50px;
    margin-top: 30px;
}

#nav-menu ul li{
    float: left;
}

#nav-menu ul li a {
    display: block;
    text-transform: capitalize;
    color: #fff;
    background: url(../img/divisor.png) no-repeat left center;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0.7rem 1.3rem;
}

#nav-menu ul .primeiro a{
    background: none;
}

#nav-menu ul a:hover{
    color: #b10333;
    background: #fff;
    border-radius: 50px;
}

/* FORMATAÇÃO MAIN */

#container{
    width: 750px;
    margin: 0 auto;
    margin-top: 60px;
    position: relative;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

body#tres-colunas #primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

body#duas-colunas #primario{
    float: left;
    width: 555px;
    margin: 0 0 20px 195px;
}

body#uma-coluna #primario{
    width: 750px;
    float: left;
    margin: 0 0 20px 0;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/* CAIXA */
.caixa{
    background: #f3f3f3 url(../img/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px 0 5px 0;
}

.caixa-conteudo{
    padding: 5px;
    background: #fff;
    margin: 5px;
}

.caixa-img{
    width: 98%;
    padding-top: 5px;
}


.caixa-conteudo a{
    padding: 5px;
    color: #b10333;
}

.caixa h2 {
    font-size: 1.1rem;
    background-color: #294c71;
    color: #fff;
    padding: 5px;
    text-transform: capitalize;
}

.caixa-conteudo h3{
    display: inline;
    font-size: 0.9rem;
    background-color: #b10333;
    color: #fff;
    text-transform: uppercase;
    padding: 2px;
}

/* FOMRTANDO LISTA NOTICIAS */

.lista-noticia li{
    border-bottom: 1px solid #ccc;
    padding: 2px;
    height: 65px;
}

.lista-noticia li a{
    text-decoration: none;
}

.lista-noticia li a img{
    float: left;
    margin: 5px;
    width: 80px;
}

.lista-noticia li a h3{
    font-size: 0.8em;
    color: #3e7ab9;
    background: none;
    padding: 0;
}

.lista-noticia li a p{
font-size: 0.7rem;
color: #0a0a0a;
}

.lista-noticia li:hover{
    background-color: #ccc;
    transition: all 0.5s ease-out 0s;
    border-radius: 3px;
}


/* FORMATANDO LATERAL*/ 

#lateral ul li a{
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #0a0a0a;
    padding: 3px;
    border-bottom: 1px solid #f3f3f3;
    line-height: 30px;
    display: block;
}

#lateral ul li a:hover{
    padding-left: 20px;
    color: gray;
    background: url(../img/marcador.png) no-repeat left center;
}

#lateral input[type="e-mail"]{
    width: 150px;
    font-size: 0.9rem;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 2px;
    padding: 2px;
}

#lateral input[type="submit"]{
    background-color: rgb(177, 3, 51);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

/* FORMATAÇÃO RODAPÉ*/

#container-radape{
    clear: both;
}

#rodape{
    text-align: center;
    padding: 20px;
    background-color: #294c71;
    color: #fff;
}

